---
layout: base.njk
---

<section class="book">

  <h2 class="post-list__heading">腦內的海馬迴</h2>

  <button>書摘</button> ｜<button>影評</button>

  {% set hippocampuslist = collections.hippocampus | head(-10) %}
  {% include "hippocampus-list.njk" %}

    {{ content | safe }}
  {#
  {% set bookslist = collections.book | head(-10) %}
  {% include "books-list.njk" %}

    {{ content | safe }}

  {% set videoslist = collections.video | head(-10) %}
  {% include "videos-list.njk" %}

    {{ content | safe }}
  #}
</section>


