---
layout: base
---

<header class="category">
  <div class="">
    <div class="">
      {{ content | safe }}
    </div>
  </div>

</header>

<section>
  <h2 class="post-list__heading">Category</h2>

  {% set postslist = collections.posts | head(-10) %}
  {% include "cat-list.njk" %}

</section>

